*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
#main{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#outside{
    width: 98%;
    height: 98%;
    border-radius: 1.5rem;
    background: #bfbfbf;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-evenly;
	max-height: 768px;
    max-width: 1366px;
}
#inside{
		background: url('../images/desktop.png') no-repeat center;
		background-size: cover;
    width: 97%;
    height: 92%;
    border-radius: 1rem;
    border: 1px solid black;
}
#button{
    height: 4%;
    border-radius: 50%;
		border: 2px solid black;
	background: white;
	z-index: 1000;
}
#illusion{
	height: 4%;
	width:100%;
}
.top{
		height: 2%;
		display: flex;
    justify-content: center;
    align-items: center;
}
span#camera,span#speaker,span#light_detecter{
    display: inline-block;
    height: 50%;
    border: 1px solid black;
    margin: 0 0.5rem;
}
span#camera,span#light_detecter{
    border-radius: 50%;
}
span#camera{
    background: #949494;
}
span#speaker{
    width: 4rem;
    border-radius: 1rem;
    background: #6b6b6b;
}
.icon{
	width: 3rem;
	height: 3rem;
	color:white;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	margin-bottom: 0.25rem;
	text-shadow: none;
	font-weight: bold;
	cursor: pointer;
}
.app{
	width: calc(100% / 4);
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: black;
	text-shadow: 0 0 3px white;
	font-weight: bold;
	font-size: 1rem;
}
#all{
    height: 80%;
    width: 100%;
    display: flex;
	flex-flow: wrap;
	overflow-y:auto;
}
#bottom{
	height: 20%;
	width:100%;
	background: rgba(255,255,255,.5);
	border-radius: 0 0 1rem 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#bottom section{
	display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.icon a{
	color:white;
}

/* MATERIAL CLASSES FOR ICONS */
.material-red{
	background: #F44336;
	color:white;
}
.material-purple{
	background: #9C27B0;
	color:white;
}
.material-indigo{
	background: #3F51B5;
	color:white;
}
.material-blue{
	background: #2196F3;
	color:white;
}
.material-green{
	background: #8BC34A;
	color:white;
}
.material-yellow{
	background: #FFEB3B;
	color:black;
}

/* Modal css */
.modal {
	display: none;
	justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 98%;
    max-width: 1366px;
    height: 95%;
    max-height: 768px;
	overflow: auto;
	flex-direction: column;
	border-radius: 1.5rem;
}

/* Modal Content */
.modal-content {
	background: #fff;
	padding: 1rem;
	width: 97%;
    height: 92%;
    border-radius: 1rem;
    border: 1px solid black;
}
#right,#left{
	text-align: center;
}
#left{
	display: flex;
    flex-direction: column;
}
#left a{
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#modal-text{
	color: #2196F3;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}
#modal-text i{
	padding: 0 0.25rem;
	font-size: 3rem;
	color: #2196F3;
}
#modal-text section{
text-align: center;
}

/* Adaptation */
@media screen and (max-width:500px){
	#inside{
		background: url('../images/mobile.png') no-repeat center;
	}
	#outside{
		width: 100%;
		height: 100%;
		max-height: 100%;
		max-width: 100%;
	}
	.app{
		color: white;
		text-shadow: 0 0 3px black;
		font-weight: normal;
	}
	#bottom section {
		font-size: 0.85rem;
	}
	.modal{
		width: 100%;
		height: 100%;
		max-height: 100%;
		max-width: 100%;
	}
	.modal-content{
		
	}
	#modal-text{
		font-size: 1rem;
		flex-direction: column;
	}
}